.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
build
vcs.xml
taskArtifacts.bin
outputFileStates.bin
fileSnapshots.bin
fileHashes.bin
workspace.xml
misc.xml
dbnavigator.xml
.idea/libraries/udesk4u51_0_6_0.xml
.idea/libraries/circleimageview_2_0_0.xml
.idea/libraries/udesk4u51_0_7_0.xml
.idea/libraries/udesk4u51_0_7_2.xml
.idea/libraries/udesk4u51_0_7_3.xml
local.properties
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/.name
.gradle/2.10/taskArtifacts/cache.properties
UDesk4U51.iml
.idea/libraries
.gradle
